# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Environment variables (VERY IMPORTANT)
.env
*.env

# Logs
*.log

# Cache
.cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/